.Container-1 {
    text-align: center;
    margin: 0 auto;
    position: relative;
    background: url("./components/Rectangle.png") no-repeat;
    background-size: 1440px 655px;
    width: 1440px;
    height: 655px;
}

body {

}

.logo {
    position: absolute;
    margin-left: 180px;
    width: 136px;
    height: 49px;
    margin-left: 130px;
    margin-top: 24px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;

}

.text1 {
    position: absolute;
    padding-top: 121px;
    padding-left: 130px;
}

.text2 {
    position: absolute;
    padding-top: 263px;
    padding-left: 130px;
}

.button {
    width: 154px;
    height: 56px;
    margin-left: 130px;
    margin-right: 1156px;
    margin-top: 351px;

    background: #FFFFFF;
    border-radius: 8px;
}

.phone {
    position: absolute;
    padding-top: 72px;
    margin-left: 931.87px;
}

.screenImg {
    object-fit: cover;
    position: absolute;
    margin-top: 88px;
    margin-left: 948.76px;
}

.screen {
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-top: 88px;
    margin-left: 948.76px;
}

.Container2 {
    width: 1440px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.Text4 {
    margin-top: 24px;
}

.group {
    margin-left: 130px;
    position: relative;
    margin-top: 40px;
    display: flex;
}

.logo1 {
    position: absolute;
    margin-top: 88px;
    left: 1px;

}

.logo2 {
    position: absolute;
    margin-top: 88px;
    right: 180px;

}

.logo3 {
    position: absolute;
    margin-top: 288px;
    right: 280px;

}